
/* Main */
html,
body {
  background-color: rgb(34, 9, 44);

}

h1,
p,
div {
  color: white;
  margin: 0;

}

.title{
  animation: titleAnim 1s ease forwards;
}

@keyframes titleAnim{

  0%{
    opacity: 0;
    padding-left: 0%;
  }
  
  100%{
    opacity: 1;
    padding-left: 2%;
    
  }
}

/* Header */

.navigationHeader{
  width: 100%;
  
  display: flex;
}

.navigationAreas, .navigationTitle{
  width: 50%;
}
.navigationTitle{
  padding:0.2% 0 0 2% ;
}
.navigationAreas{
  display: flex;
  justify-content: flex-end;
}
.navigatoinLinks{
padding: 2%;
}
/* Footer */

/* Intro */

.InfoDetails{
  animation: briefInfo 1s ease forwards;
}

.intro {
  height: 94vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.full-row {
 display: contents;
}

.manContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.eye1 {
  position: relative;
  bottom: 45px;
  right: 174px;
}

.eye2 {
  position: relative;
  bottom: 45px;
  right: 109px;
}

@media screen and (max-width: 768px) {
  .intro {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .full-row {
    display: block; /* Display on smaller screens */
    grid-column: 1 / span 2; /* Span across both columns */
  }
}

.greetingsTitle{
  animation: myAnim 3s ease infinite;
}

@keyframes myAnim {
	
	50%,
	100% {
		opacity: 1;
	}
  0%,
	
	100% {
		opacity: 0;
	}
}

@keyframes briefInfo{

  0%{
    opacity: 0;
    margin: 25% 10% 20% 0%
  }
  
  100%{
    opacity: 1;
    margin: 25% 10% 20% 20%
  }
}


/* Experience */

.ExperinceCardsFlexBox{
  display: flex; 
  width: 100%;
}
.ExperienceCard{
  width: 40%;
  margin: 5%;
}