
/* Main */
html,
body {
   background-image: linear-gradient(rgb(33, 33, 33),rgb(0,0,0));

  position: relative;
  z-index: 2;

}
.wrapper span{
  background-color: rgb(34, 9, 44);
  position: fixed;
  z-index: -2;
  width: 100px;
  height: 100px;
  bottom:-100px ;
  box-shadow: 0 0 50px #0072ff,
              0 0 100px #0072ff,
              0 0 150px #0072ff,
              0 0 200px #0072ff;
  animation: animate 10s linear infinite ;
}

.wrapper span:nth-child(1){
  left: 60px;
  animation-delay:0.6s ;
}

.wrapper span:nth-child(2){
  left: 10%;
  animation-delay:3s ;
  width: 60px;
  height: 60px;
}

.wrapper span:nth-child(3){
  left: 20%;
  animation-delay:2s ;
 
}
.wrapper span:nth-child(4){
  left: 30%;
  animation-delay:5s ;
  width: 80px;
  height: 80px;
}
.wrapper span:nth-child(5){
  left: 40%;
  animation-delay:1s ;
 
}

.wrapper span:nth-child(6){
  left: 50%;
  animation-delay:7s ;
 
}
.wrapper span:nth-child(7){
  left: 60%;
  animation-delay:6s ;
 width: 100px;
 height: 100px;
}
.wrapper span:nth-child(8){
  left: 70%;
  animation-delay:8s ;
 
}
.wrapper span:nth-child(9){
  left: 80%;
  animation-delay:6s ;
  width: 90px;
  height: 90px;
}

.wrapper span:nth-child(10){
  left: 90%;
  animation-delay:4s ;
 
}

@keyframes animate{
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  80%{
    opacity: .7;
  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

h1,p,div,h3,h2 {
  color: white;
  margin: 0;

}

.title{
  animation: titleAnim 1s ease forwards;
}

@keyframes titleAnim{

  0%{
    opacity: 0;
    padding-left: 0%;
  }
  
  100%{
    opacity: 1;
    padding-left: 2%;
    
  }
}

html::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 40px;
}

/* Styling the scrollbar thumb */
html::-webkit-scrollbar-thumb {
  background-color: #636060; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Styling the scrollbar track */
html::-webkit-scrollbar-track {
  background-image: linear-gradient(rgb(33, 33, 33),rgb(0,0,0));

}

/* Header */

.navigationHeader{
  width: 100%;
  
  display: flex;
}

.navigationAreas, .navigationTitle{
  width: 50%;
}
.navigationTitle{
  padding:0.2% 0 0 2% ;
}
.navigationAreas{
  display: flex;
  justify-content: flex-end;
}
.navigatoinLinks{
padding: 2%;
}
/* Footer */

/* Intro */

.InfoDetails{
  animation: briefInfo 1s ease forwards;
}

.intro {
  height: 94vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.full-row {
 display: contents;
}

.manContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.eye1 {
  position: relative;
  bottom: 45px;
  right: 174px;
}

.eye2 {
  position: relative;
  bottom: 45px;
  right: 109px;
}

@media screen and (max-width: 768px) {
  .intro {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .full-row {
    display: block; /* Display on smaller screens */
    grid-column: 1 / span 2; /* Span across both columns */
  }
}

.greetingsTitle{
  animation: myAnim 3s ease infinite;
}

@keyframes myAnim {
	
	50%,
	100% {
		opacity: 1;
	}
  0%,
	
	100% {
		opacity: 0;
	}
}

@keyframes briefInfo{

  0%{
    opacity: 0;
    margin: 25% 10% 20% 0%
  }
  
  100%{
    opacity: 1;
    margin: 25% 10% 20% 20%
  }
}


/* Experience */

.experienceSection{
  height: 100vh;

}
.ExperinceCardsFlexBox{
  display: flex; 
  height: 95%;
  justify-content: space-evenly;
  width: 100%;
  
}
.linearGradient{
  width: 99%;
 height: 99%;
 background-color:  rgb(34, 9, 44);
 border-radius: 3%;
 margin: 0.5% 0 0 0.5%;
}
.ExperienceCard{
  width: 32%;
 height: 70%;
  margin: 5% ;
  border-radius: 3%;
  
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  overflow: hidden; /* Hide content that overflows its box */
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: 0.5s;
}

.ExperienceCard:hover {
  box-shadow: 0 12px 30px 0 #F05941;
}
.ExperienceCard::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 40px;
}

/* Styling the scrollbar thumb */
.ExperienceCard::-webkit-scrollbar-thumb {
  background-color: #636060; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Styling the scrollbar track */
.ExperienceCard::-webkit-scrollbar-track {
  background-color: transparent /* Color of the scrollbar track */
}

@media screen and (max-width: 1000px) {
  .ExperinceCardsFlexBox {
    display: block;/* Single column layout */
  }
  .ExperienceCard{
    width: 80%;
    margin: 10% ;
  }
  
}

@media screen and (min-width: 1001px) and (max-width: 1671px) {
 
  .ExperienceCard{
    width: 80%;
    margin: 2% ;
  }
  
}

/* experience > experience card details */
.cardDetails{
  width: 100%;
  height: 100%;
  position: relative;
  
}
.cardTile{
  padding: 2% 0 0 2%;
  text-decoration: underline;
}
.cardSubHeading{
  padding: 1% 0 0 3%;
}
li{
  font-size: large;
  padding-left: 2%;
  padding-bottom: 2%;
}

/* experience > experience card details >ToolCards  */
.toolCards{
  /* background-color: transparent; */
  width: 100%;
  position: relative;
  z-index: 2;
  animation:cardHover 0.5s ease forwards;
  background-color: rgb(33, 32, 32);
  opacity: 1;
  border-radius: 3%;
}
@keyframes cardHover{
  
  0%{
    height: 0%;
    border-radius: 3%;
    
  }
  
  100%{
    opacity: 0.9;
    height: 100%;
  border-radius: 3%;
   
    
  }
}
.toolCardsBox{
  
  text-align: center;
  border-radius: 25px;
  height: 50px;
  background-color: #333;
}
.cardSkillContainer{
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 20px;
  margin: 3%;

}
.cardNoHover{
  position: relative;
  z-index: 1;
}
.cardHover{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
